body {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}

.hidden {
    display: none;
}

.header {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.subheader {
    font-size: 18px;
    padding-bottom: 10px;
}

.content-table {
    width: 100%;
}

.content-table td, .content-table th {
    padding: 10px;
}

#search-out td, 
#search-out th,
#craft-out td, 
#craft-out th {
    padding: 4px;
}

.out {
    margin-top: 10px;
    border-collapse: collapse;
    vertical-align: middle;
}

.out tr:not(.inner-table) {
    border: 2px solid grey;
}

.section {
    width: 50%;
}

.head-link {
    text-decoration: none;
    color: black;
}

#bldg-qty-in, #storage-qty-in {
    width: 30px;
}

.crafting label {
    font-size: 12px;
}